<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body bgcolor="#fff0f5">
<form action="./update">
     Product id:<input type="text" name="t1" value="{{ rec.pid }}"><br>
    Product name:<input type="text" name="t2" value="{{ rec.pname }}"><br>
    Product cost:<input type="text" name="t3" value="{{ rec.pcost }}"><br>
    Product mfd:<input type="text" name="t4" value="{{ rec.pmfd| date:"Y-m-d"}}"><br>

<input type="submit" value="update">
</form>

</body>
</html>